@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --black:#000;
    --white:#fff;
    --blue:rgb(20, 103, 211);
    --bg:rgb(247, 247, 247);
    
    
}
html{
    font-size: 62.5%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    justify-content:
     space-between;
     align-items: center;
     height: 5rem;
     background: var(--white);
     
}
.header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
}
.header .logo .logo-src{
    font-size: 2rem;
    color: var(--black);
    margin: 0 .5rem;
}
.header .logo h1{
    font-size: 2rem;
    color: var(--black);
}

.header .create-btn{

    height: 3rem;
    font-size: 1.5rem;
    color: var(--black);
    /* border: 1px solid black; */
    padding: .2rem 1rem;
    border-radius: .5rem;
    background-color: var(--blue);
    color: var(--white);
    margin-right: 1.5rem;
}
.main-container{
    min-height: calc(100vh - 50px);
    padding: 1rem;
    display: flex;
    justify-content: center;
    background: var(--bg);
    max-width: 100rem;
    margin: auto;
    margin-top: 1rem;
}